<footer class="footer l-flex-center">
  <img class="footer__logo logo" src="/images/common/logo.svg" alt="H-Builder" width="79" height="58">

  <nav class="footer__nav">
    <ul class="navList">
      <li class="navList__item">
        <a class="navList__link" href="#">住まいの事例</a>
      </li>

      <li class="navList__item">
        <a class="navList__link" href="#">会社概要</a>
      </li>

      <li class="navList__item">
        <a class="navList__link" href="#">お問い合わせ</a>
      </li>
    </ul>
  </nav>
</footer>
